@font-face {
  font-family: 'intel';
  src: url('./intelone-display-bold.woff') format('woff'),
    url('./intelone-display-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'intel';
  src: url('./intelone-display-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'intel';
  src: url('./intelone-display-regular.woff') format('woff'),
    url('./intelone-display-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'intel';
  src: url('./intelone-display-light.woff') format('woff'),
    url('./intelone-display-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
