@use 'sass:map';

@mixin classNames($options) {
  $list: map-get($options, 'list');
  $propNames: map-get($options, 'propNames');
  $ext: map-get($options, 'ext');

  @each $value in $list {
    @each $propName in $propNames {
      .#{$propName}-#{$value} {
        @if $ext {
          #{$propName}: #{$value}#{$ext};
        } @else {
          #{$propName}: #{$value};
        }
      }
    }
  }
}