/* stylelint-disable scss/at-rule-no-unknown */
@import './app/styles/reset.css';
@import './app/styles/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
::placeholder {
  color: gray;
}
